<!doctype html>
<html lang="en">
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<!-- AJAX -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      
  <!-- JQUERY FOR DATE PICKER -->
  <link href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title>Room Rezy Application</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Room Rezy</a>
  <ul class="navbar-nav mr-auto">
    
      <% if (user){ %>
        <li class="nav-item">
        <a class="nav-link" href="/reservations">Reservations</a>
      <%} else {%>
        <li class="nav-item">
        <a class="nav-link disabled">Reservations</a>
      <%}%>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <% if (user) { %>
      <span class="navbar-text">
        <i class="fa fa-user"></i>
        <%= user.username %>
      </span>
      <li class="nav-item">
        <a class="nav-link ml-3" href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
    </li>
    <% } %>

    <% if(!user) { %>
    <li class="nav-item">
        <a class="nav-link" href="/login"><i class="fa fa-user"></i> Login</a>
      </li>
      <li class="nav-item ml-3">
        <a class="nav-link" href="/register"><i class="fa fa-user-plus"></i> Register</a>
      </li>
    <% } %>
  </ul>

</nav>
